# Node modules
/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid

# Coverage directory used by testing tools
coverage/

# Optional npm cache directory
.npm/

# dotenv environment variables file
.env

# Build output
dist/
build/
